<h1>Счета со статусом «Оплачен» с датой больше 01.01.2020</h1>

<table class="table table-bordered">
    <thead  class="thead-dark">
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Дата</th>
        <th scope="col">Статус</th>
        <th scope="col">Содержание</th>
        <th scope="col">Скидка</th>
        <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody>
    <?=$this->invoicelines?>
    </tbody>
</table>