<tr>
    <td><?=$this->num?></td>
    <td><?=$this->date?></td>
    <td><?=$this->status?></td>
    <td>
        <table class="table">
            <?=$this->itemtable?>
        </table>
    </td>
    <td><?=$this->discount?>%</td>
    <td><?=$this->sum?></td>
</tr>